<div class="row">
  <div class="col-sm-12">
    <h1 mat-dialog-title><mat-icon>edit</mat-icon> จัดการข้อมูล TCAS สาขา</h1>
  </div>
</div>
<mat-tab-group mat-stretch-tabs *ngIf="loadData">
  <mat-tab
    *ngFor="let round of tcasTabLabel; index as i"
    label="รอบที่ {{ round }}"
  >
    <app-edit-tcas-major-content
      [tcas]="listTcas[i]"
      [round]="round"
      (submitBtn)="onSubmit($event)"
      (cancelBtn)="onNoClick()"
    ></app-edit-tcas-major-content>
  </mat-tab>
</mat-tab-group>
