<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white;">กำลังโหลด...</p>
</ngx-spinner>

<div class="row col-sm-12">
  <h1 mat-dialog-title><mat-icon>edit</mat-icon> จัดการข้อมูล TCAS สาขา</h1>
</div>
<mat-divider></mat-divider><br />
<div class="row col-sm-12">
  <h4>เพิ่มรอบ TCAS</h4>
</div>
<form [formGroup]="tcasRoundForm">
  <div class="row col-sm-12">
    <div class="col-sm-10">
      <mat-form-field>
        <mat-label>รอบ TCAS</mat-label>
        <input
          matInput
          type="number"
          placeholder="กรอกรอบ TCAS เป็นตัวเลข"
          formControlName="round"
        />
        <mat-error
          *ngIf="tcasRoundForm.controls.round.hasError('alreadyRound')"
        >
          มีรอบ TCAS นี้แล้ว
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-2">
      <button mat-raised-button class="btn-success" (click)="onAddRoundClick()">
        <mat-icon>add</mat-icon>
        เพิ่มรอบ TCAS
      </button>
    </div>
  </div>
</form>

<ng-container *ngIf="loadData">
  <mat-divider></mat-divider><br />
  <div class="row col-sm-12"><h4>จัดการรอบ TCAS</h4></div>
  <mat-tab-group mat-stretch-tabs [selectedIndex]="selected.value">
    <mat-tab
      *ngFor="let round of tcasTabLabel; index as i"
      label="รอบที่ {{ round }}"
    >
      <app-edit-tcas-major-content
        [tcas]="listTcas[i]"
        [round]="round"
        (submitBtn)="onSubmit($event)"
        (cancelBtn)="onNoClick()"
      ></app-edit-tcas-major-content>
    </mat-tab>
  </mat-tab-group>
</ng-container>
