div {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(src\assets\img\background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}