<div class="row">
    <div class="col-sm-12">
        <h1 mat-dialog-title>
            <mat-icon>edit</mat-icon> เพิ่มข้อมูลสาขา
        </h1>
    </div>
</div>
<form [formGroup]="majorForm" *ngIf="loadData">
    <mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="ชื่อสาขา" required formControlName="majorName">
            <mat-error *ngIf="majorForm.controls.majorName.hasError('required')">
                กรุณากรอกชื่อสาขา
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ที่อยู่เว็บไซต์" required formControlName="url">
            <mat-hint>เช่น http://www.xxxx.xxx</mat-hint>
            <mat-error *ngIf="majorForm.controls.url.hasError('required')">
                กรุณากรอกที่อยู่เว็บไซต์
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="รอบที่เปิดรับ (TCAS)" formControlName="tcasEntranceRound" required multiple>
                <mat-select-trigger>
                    {{majorForm.controls.tcasEntranceRound.value.length === 0 ? '' : majorForm.controls.tcasEntranceRound.value[0].description}}
                    <span *ngIf="majorForm.controls.tcasEntranceRound.value?.length > 1">
                        (+{{majorForm.controls.tcasEntranceRound.value.length - 1}} รอบอื่นๆ)
                    </span>
                </mat-select-trigger>
                <mat-option *ngFor="let tcas of tcasRound" [value]="tcas">{{tcas.description}}</mat-option>
            </mat-select>
            <mat-error *ngIf="majorForm.controls.tcasEntranceRound.hasError('required')">
                กรุณาเลือกรอบที่เปิดรับอย่างน้อย 1 รอบ
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="วุฒิการศึกษาที่ได้รับ หลังสำเร็จการศึกษา" required
                formControlName="certificate">
            <mat-hint>เช่น วิทยาศาสตร์บัณฑิต</mat-hint>
            <mat-error *ngIf="majorForm.controls.certificate.hasError('required')">
                กรุณากรอกวุฒิการศึกษา
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ระยะเวลาการศึกษาตามหลักสูตร (ปี)" required maxlength="2"
                formControlName="courseDuration">
            <mat-error *ngIf="majorForm.controls.courseDuration.hasError('required')">
                กรุณากรอกระยะเวลาการศึกษา
            </mat-error>
            <mat-error *ngIf="majorForm.controls.courseDuration.hasError('pattern')">
                ระยะเวลาการศึกษาต้องเป็นตัวเลขเท่านั้น
            </mat-error>
            <mat-hint>เช่น 4 ปี</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-chip-list #chipList aria-label="Career">
                <mat-chip *ngFor="let career_name of selectedCareer" [removable]="removable"
                    (removed)="removeCareer(career_name)">
                    {{career_name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input matInput placeholder="อาชีพเมื่อสำเร็จการศึกษา" #careerInput formControlName="career"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addCareer($event)">
                <mat-error *ngIf="selectedCareer.length === 0 && majorForm.get('career').touched">
                    กรุณากรอกอาชีพเมื่อสำเร็จการศึกษา
                </mat-error>
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let career of filteredCareer | async" [value]="career">
                    {{career}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="btn-secondary" (click)="onNoClick()">
            <mat-icon>close</mat-icon> ปิด
        </button>
        <button mat-raised-button class="btn-success" (click)="onSubmit()">
            <mat-icon>add</mat-icon> เพิ่มข้อมูล
        </button>
    </mat-dialog-actions>
</form>