<div class="row">
    <div class="col-sm-11">
        <h1 mat-dialog-title>เพิ่มข้อมูลมหาวิทยาลัย</h1>
    </div>
    <div class="col-sm-1" class="hover-cursor">
        <mat-icon class="hover-cursor" (click)="onNoClick()">close</mat-icon>
    </div>
</div>
<mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="universityDetailForm">
        <form [formGroup]="universityDetailForm">
            <ng-template matStepLabel>ข้อมูลรายละเอียดมหาวิทยาลัย</ng-template>
            <div mat-dialog-content>
                <mat-form-field>
                    <input matInput placeholder="ชื่อมหาวิทยาลัย" required formControlName="university_name">
                    <mat-error *ngIf="universityDetailForm.controls.university_name.hasError('required')">
                        กรุณากรอกชื่อมหาวิทยาลัย
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput placeholder="รายละเอียดมหาวิทยาลัย"
                        formControlName="university_detail"></textarea>
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="tel" placeholder="เบอร์โทรศัพท์" required formControlName="phone_no">
                    <mat-error *ngIf="universityDetailForm.controls.phone_no.hasError('required')">
                        กรุณากรอกเบอร์โทรศัพท์
                    </mat-error>
                    <mat-error *ngIf="universityDetailForm.controls.phone_no.hasError('pattern')">
                        เบอร์โทรศัพท์ต้องเป็นตัวเลขเท่านั้น
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="url" matInput placeholder="ที่อยู่เว็บไซต์" required formControlName="url">
                    <mat-error *ngIf="universityDetailForm.controls.url.hasError('required')">
                        กรุณากรอกที่อยู่เว็บไซต์
                    </mat-error>
                </mat-form-field>
                <input id="fileInput" type="file" required>
                <div style="margin-top: 1vw;">
                    <button mat-raised-button class="btn-success" matStepperNext>ถัดไป</button>
                </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="universityAddressForm">
        <ng-template matStepLabel>ข้อมูลที่อยู่ของมหาวิทยาลัย</ng-template>
        <form [formGroup]="universityAddressForm">
            <div mat-dialog-content>
                <mat-form-field>
                    <input matInput placeholder="ที่อยู่มหาวิทยาลัย" required formControlName="address">
                    <mat-error *ngIf="universityAddressForm.controls.address.hasError('required')">
                        กรุณากรอกที่อยู่มหาวิทยาลัย
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="แขวง/ตำบล" required formControlName="tambon">
                    <mat-error *ngIf="universityAddressForm.controls.tambon.hasError('required')">
                        กรุณากรอกที่อยู่มหาวิทยาลัย
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="เขต/อำเภอ" required formControlName="amphur">
                    <mat-error *ngIf="universityAddressForm.controls.amphur.hasError('required')">
                        กรุณากรอกเขต/อำเภอ
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>เลือกจังหวัด</mat-label>
                    <mat-select formControlName="province" required>
                        <mat-option>เลือกจังหวัด</mat-option>
                        <mat-option *ngFor="let province of listProvince" [value]="province.province_name">
                            {{province.province_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="universityAddressForm.controls.province.hasError('required')">
                        กรุณาเลือกจังหวัด
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="รหัสไปรษณีย์" required formControlName="zipcode" maxlength="5">
                    <mat-error *ngIf="universityAddressForm.controls.zipcode.hasError('required')">
                        กรุณากรอกรหัสไปรษณีย์
                    </mat-error>
                    <mat-error *ngIf="universityAddressForm.controls.zipcode.hasError('pattern')">
                        รหัสไปรษณีย์ต้องประกอบไปด้วยตัวเลขตัวเลขจำนวน 5 ตัว
                    </mat-error>
                </mat-form-field>
                <div>
                    <button mat-raised-button class="btn-secondary button-margin-right"
                        matStepperPrevious>ย้อนกลับ</button>
                    <button mat-raised-button class="btn-success" (click)="onSubmit()">เพิ่มข้อมูล</button>
                </div>
            </div>
        </form>
    </mat-step>
</mat-vertical-stepper>