<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://github.com/devilbas07">
                        เกี่ยวกับเรา
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{date | date: 'yyyy'}}, จัดทำโดยนักศึกษาสาขาเทคโนโลยีสารสนเทศ คณะวิทยาศาสตร์ มหาวิทยาลัยแม่โจ้
            (<a href="https://web.facebook.com/bas.poomin" target="_blank">ภูมินทร์</a> และ
            <a href="https://web.facebook.com/SunFly.THTN" target="_blank">ภาณุวัฒน์</a>)
        </div>
    </div>
</footer>