<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile-round">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">แก้ไขข้อมูลส่วนตัว</h4>
                        <p class="card-category">ข้อมูลส่วนตัวครู สามารถแก้ไขข้อมูลต่างๆ ของครูได้</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="userForm">
                            <div class="col-md-12">
                                <mat-form-field>
                                    <input matInput placeholder="ชื่อผู้ใช้" disabled formControlName="username">
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <input type="password" matInput placeholder="รหัสผ่านเก่า" formControlName="oldPassword">
                                    <mat-error *ngIf="userForm.controls.oldPassword.hasError('required')">
                                        กรุณากรอกรหัสผ่าน
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class=<div class="col-md-12">
                                <mat-form-field>
                                    <input type="password" matInput placeholder="รหัสผ่าน" formControlName="newPassword">
                                    <mat-error *ngIf="userForm.controls.newPassword.hasError('required')">
                                        กรุณากรอกรหัสผ่าน
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <mat-form-field>
                                    <input type="password" matInput placeholder="ยืนยันรหัสผ่าน"
                                        formControlName="conPassword">
                                    <mat-error *ngIf="userForm.controls.conPassword.hasError('required')">
                                        กรุณากรอกรหัสผ่านให้ถูกต้อง
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </form>
                        <button mat-raised-button class="btn btn-danger pull-right"
                            (click)="onSubmit()">แก้ไขข้อมูล</button>
                    </div>
                </div>
            </div>
        </div>
    </div>