<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
>
  <p style="color: white;">กำลังโหลด...</p>
</ngx-spinner>

<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-profile-round">
          <div class="card-header card-header-danger">
            <h4 class="card-title">แก้ไขรหัสผ่าน</h4>
            <p class="card-category">กรอกข้อมูลต่างๆ เพื่อแก้ไขรหัสผ่าน</p>
          </div>
          <div class="card-body" *ngIf="showData">
            <form [formGroup]="userForm">
              <div class="col-md-12">
                <mat-form-field>
                  <input
                    matInput
                    placeholder="ชื่อผู้ใช้"
                    formControlName="username"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    placeholder="รหัสผ่านเก่า"
                    formControlName="oldPassword"
                  />
                  <mat-error
                    *ngIf="userForm.controls.oldPassword.hasError('notMatch')"
                  >
                    กรุณากรอกเก่าให้ถูกต้อง
                  </mat-error>
                  <mat-error
                    *ngIf="userForm.controls.oldPassword.hasError('required')"
                  >
                    กรุณากรอกรหัสผ่าน
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="<div" class="col-md-12">
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    placeholder="รหัสผ่านใหม่"
                    formControlName="newPassword"
                  />
                  <mat-error
                    *ngIf="userForm.controls.newPassword.hasError('required')"
                  >
                    กรุณากรอกรหัสผ่าน
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field>
                  <input
                    type="password"
                    matInput
                    placeholder="ยืนยันรหัสผ่านใหม่"
                    formControlName="confirmPassword"
                  />
                  <mat-error
                    *ngIf="
                      userForm.controls.confirmPassword.hasError('required')
                    "
                  >
                    กรุณากรอกรหัสผ่านให้ถูกต้อง
                  </mat-error>
                  <mat-error
                    *ngIf="
                      userForm.controls.confirmPassword.hasError('notSame')
                    "
                  >
                    กรุณากรอกรหัสผ่านให้ตรงกัน
                  </mat-error>
                </mat-form-field>
              </div>
            </form>
            <button
              mat-raised-button
              class="btn btn-danger pull-right"
              (click)="onSubmit()"
            >
              แก้ไขข้อมูล
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
