<div class="row">
    <div class="col-sm-11">
        <h1 mat-dialog-title>ข้อมูลสาขาในสังกัดของคณะ</h1>
    </div>
    <div class="col-sm-1" class="hover-cursor">
        <mat-icon class="hover-cursor" (click)="onNoClick()">close</mat-icon>
    </div>
</div>
<div *ngIf="showData">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let major of listMajor">
            <mat-expansion-panel-header>
                <mat-panel-title>{{major.major_name}}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-panel-description>
                <mat-icon>language</mat-icon> ที่อยู่เว็บไซต์
            </mat-panel-description>
            <mat-panel-title><a href="{{major.url}}">{{major.url}}</a></mat-panel-title><br>
            <mat-panel-description>
                <mat-icon>school</mat-icon> เงื่อนไขการเข้าศึกษาต่อ
            </mat-panel-description>
            <mat-panel-title>
                <p>{{major.entrance_detail}}</p>
            </mat-panel-title><br>
            <mat-panel-description>
                <mat-icon>build</mat-icon> อาชีพเมื่อสำเร็จการศึกษา
            </mat-panel-description>
            <mat-panel-title>
                <mat-chip-list >
                    <mat-chip *ngFor="let carrer of major.carrer">
                        {{carrer.id}}
                    </mat-chip>
                </mat-chip-list>
            </mat-panel-title>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="card-profile no-margin" *ngIf="!showData">
    <div class="card-body">
        <h4 class="card-title">ไม่พบข้อมูลสาขา</h4>
        <p class="card-description">
            ไม่พบข้อมูลสาขาภายในคณะ กรุณาเพิ่มข้อมูลคณะก่อนดำเนินการอีกครั้ง
        </p>
    </div>
</div>