<form [formGroup]="careerForm">
    <h1 mat-dialog-title>
        <mat-icon *ngIf="mode === 'เพิ่ม'">add</mat-icon>
        <mat-icon *ngIf="mode === 'แก้ไข'">edit</mat-icon> {{mode}}ข้อมูลอาชีพ
    </h1>
    <mat-dialog-content *ngIf="showData">
        <div class="input-image-content">
            <label class="label-input-image">รูปภาพอาชีพ</label>
            <label class="hoverable" for="logoImage">
                <img class="input-image" alt="รูปภาพอาชีพ" [src]="imgURL">
                <div class="hover-text">เลือกรูปภาพ..</div>
                <div class="background"></div>
            </label>
            <input type="file" class="inputImage" id="logoImage" (change)="preview($event)" accept=".png,.jpg" />
        </div>
        <br>
        <mat-form-field>
            <input matInput placeholder="ชื่ออาชีพ" required formControlName="career_name" readonly
                *ngIf="mode === 'แก้ไข'">
            <input matInput placeholder="ชื่ออาชีพ" required formControlName="career_name" *ngIf="mode === 'เพิ่ม'">
            <mat-error *ngIf="careerForm.controls.career_name.hasError('required')">
                กรุณากรอกชื่ออาชีพ
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="รายละเอียดอาชีพ" required formControlName="description"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-raised-button class="btn-secondary" (click)="onNoClick()">
            <mat-icon>close</mat-icon> ปิด
        </button>
        <button mat-raised-button class="btn-success" (click)="onSubmit()">
            <mat-icon *ngIf="mode === 'เพิ่ม'">add</mat-icon>
            <mat-icon *ngIf="mode === 'แก้ไข'">edit</mat-icon> {{mode}}ข้อมูล
        </button>
    </mat-dialog-actions>
</form>