<form [formGroup]="facultyForm">
  <h1 mat-dialog-title color="primary">
    <mat-icon *ngIf="mode === 'เพิ่ม'">add</mat-icon>
    <mat-icon *ngIf="mode === 'แก้ไข'">edit</mat-icon> {{mode}}ข้อมูลคณะ
  </h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="ชื่อคณะ" required formControlName="faculty_name">
      <mat-error *ngIf="facultyForm.controls.faculty_name.hasError('required')">
        กรุณากรอกชื่อคณะ
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="ที่อยู่เว็บไซต์" required formControlName="url">
      <mat-error *ngIf="facultyForm.controls.url.hasError('required')">
        กรุณากรอกที่อยู่เว็บไซต์
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button class="btn-secondary" (click)="onNoClick()">
      <mat-icon>close</mat-icon> ปิด
    </button>
    <button *ngIf="mode === 'เพิ่ม'" mat-raised-button class="btn-success" (click)="onSubmit()">
      <mat-icon>add</mat-icon> {{mode}}ข้อมูล
    </button>
    <button *ngIf="mode === 'แก้ไข'" mat-raised-button class="btn-warning" (click)="onSubmit()">
      <mat-icon>add</mat-icon> {{mode}}ข้อมูล
    </button>
  </mat-dialog-actions>
</form>