<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">สถิติการเรียนต่อ</h4>
                        <p class="card-category">โรงเรียนทดสอบ</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">สถิติการสอบติดมหาวิทยาลัย</h4>
                        <p class="card-category">มหาวิทยาลัยทดสอบ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>