<!-- Toolbar -->
<mat-toolbar color="primary" class="app-header">
  <div><a href="/" target="_self" class="positronx">ระบบจัดการแนะแนวสำหรับนักเรียนมัธยมปลาย</a>
  </div>
  <span class="nav-tool-items">
  </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>ลงชื่อเข้าใช้งาน</mat-card-title>
    </mat-card-header>

    <form [formGroup]="loginForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input type="text" matInput placeholder="ชื่อผู้ใช้งาน" formControlName="username" />
          <mat-error *ngIf="loginForm.controls.username.hasError('required')">
            กรุณากรอกชื่อผู้ใช้งาน
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" matInput placeholder="รหัสผ่าน" formControlName="password" />
          <mat-error *ngIf="loginForm.controls.password.hasError('required')">
            กรุณากรอกรหัสผ่าน
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click) = "onLogin()">เข้าสู่ระบบ</button>
    </form>
  </mat-card>
</div>