<h1 mat-dialog-title>ยืนยันข้อมูลการทำรายการ</h1>
<mat-dialog-content>
    <div *ngIf="showData">
        <mat-accordion>
            {{data}}
        </mat-accordion>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button class="btn-danger" (click)="onNoClick()">
        <mat-icon>close</mat-icon> ยกเลิก
    </button>
    <button mat-raised-button class="btn-success" (click)="onSubmit()">
        <mat-icon>done</mat-icon> ตกลง
    </button>
</mat-dialog-actions>