<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="showContent">
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="{{university.url}}" target="_blank">
                            <img class="img" src="{{universityImg}}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{university.university_name}}</h4>
                        <p class="card-description">
                            {{university.university_detail}}
                        </p>
                        <div class="card-profile-contact">
                            <p class="card-description">
                                <mat-icon matTooltip="จำนวนการเข้าชม">visibility
                                </mat-icon> {{university.view}}
                            </p>
                            <p class="card-description">
                                <mat-icon matTooltip="หมายเลขโทรศัพท์">phone
                                </mat-icon> {{university.phone_no | phone: 'TH'}}
                            </p>
                            <p class="card-description">
                                <mat-icon matTooltip="ที่อยู่เว็บไซต์">language
                                </mat-icon><a href="{{university.url}}"> {{university.url}} </a>
                            </p>
                            <p class="card-description">
                                <mat-icon matTooltip="ที่อยู่">home
                                </mat-icon> {{university.address}} ตำบล{{university.tambon}} อำเภอ{{university.amphur}}
                                จังหวัด{{university.province}} {{university.zipcode}}
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-description">
                            <button mat-raised-button class="btn-warning button-margin-right"
                                (click)="openEditUniversityDialog()">
                                <mat-icon>edit</mat-icon> แก้ไขข้อมูล
                            </button><button mat-raised-button class="btn-danger"
                                (click)="openDeleteUniversityDialog()">
                                <mat-icon>delete</mat-icon> ลบข้อมูล
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <div class="row">
                            <div class="col-sm-8">
                                <h4 class="card-title">คณะ</h4>
                                <p class="card-category">คณะ ต่างๆ ที่สังกัดอยู่ภายใน {{university.university_name}}</p>
                            </div>
                            <div class="col-sm-4 card-button-right"><button mat-raised-button class="btn-success"
                                    (click)="openAddEditFacultyDialog()">
                                    <mat-icon>add</mat-icon> เพิ่มข้อมูลคณะ
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-body table-responsive" *ngIf="showTable">
                            <mat-form-field>
                                <input matInput placeholder="ค้นหาคณะใน {{university.university_name}}...">
                            </mat-form-field>
                            <table mat-table [dataSource]="facultyLtb" class="table table-hover">
                                <ng-container matColumnDef="faculty_name">
                                    <th mat-header-cell *matHeaderCellDef>ชื่อคณะ</th>
                                    <td mat-cell *matCellDef="let faculty"> {{faculty.data().faculty_name}} </td>
                                </ng-container>
                                <ng-container matColumnDef="url">
                                    <th mat-header-cell *matHeaderCellDef>เว็บไซต์</th>
                                    <td mat-cell *matCellDef="let faculty"> <a href="{{faculty.data().url}}"
                                            target="_blank">{{faculty.data().url}}</a> </td>
                                </ng-container>
                                <ng-container matColumnDef="major">
                                    <th mat-header-cell *matHeaderCellDef>สาขาภายในคณะ</th>
                                    <td mat-cell *matCellDef="let faculty">
                                        <div class="button-row">
                                            <button mat-raised-button matTooltip="ตรวจสอบข้อมูลรายการสาขา"
                                                [matTooltipPosition]="'above'" class="btn-info"
                                                (click)="openListMajorDialog(faculty)">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                            <button mat-raised-button matTooltip="เพิ่มข้อมูลสาขา"
                                                [matTooltipPosition]="'above'" class="btn-success"
                                                (click)="openAddMajorDialog(faculty)">
                                                <mat-icon>add</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="manage">
                                    <th mat-header-cell colspan="2" *matHeaderCellDef>จัดการ</th>
                                    <td mat-cell *matCellDef="let faculty">
                                        <div class="button-row">
                                            <button mat-raised-button matTooltip="แก้ไข" [matTooltipPosition]="'above'"
                                                class="btn-warning" (click)="openAddEditFacultyDialog(faculty)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-raised-button matTooltip="ลบ" [matTooltipPosition]="'above'"
                                                class="btn-danger" (click)="openDeleteFacultyDialog(faculty)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </div>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [length]="resultsLength" [pageSize]="5" showFirstLastButtons>
                            </mat-paginator>
                        </div>
                        <div class="card-profile no-margin" *ngIf="!showTable">
                            <div class="card-body">
                                <mat-icon class="card-title">highlight_off</mat-icon>
                                <h4 class="card-description">ไม่พบข้อมูลคณะ</h4>
                                <p class="card-description">
                                    ไม่พบข้อมูลคณะภายในมหาวิทยาลัย
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>