<div class="row">
  <div class="col-12">
    <h1 mat-dialog-title><mat-icon>info</mat-icon> ข้อมูลสาขาในคณะ</h1>
  </div>
</div>
<div *ngIf="showData">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let major of listMajor">
      <mat-expansion-panel-header>
        <mat-panel-title color="primary">
          <h4><mat-icon>school</mat-icon> {{ major.majorName }}</h4>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <hr class="no-margin" />
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="ข้อมูลสาขา">
          <mat-panel-description>
            <h4><mat-icon>language</mat-icon> ที่อยู่เว็บไซต์</h4>
          </mat-panel-description>
          <mat-panel-title>
            <a href="{{ major.url }}">{{ major.url }}</a>
          </mat-panel-title>
          <hr />
          <mat-panel-description>
            <h4>
              <mat-icon>access_time</mat-icon> ระยะเวลาการศึกษาตามหลักสูตร
            </h4>
          </mat-panel-description>
          <mat-panel-title> {{ major.courseDuration }} ปี </mat-panel-title>
          <hr />
          <mat-panel-description>
            <h4>
              <mat-icon>assignment_turned_in</mat-icon> วุฒิหลังสำเร็จการศึกษา
            </h4>
          </mat-panel-description>
          <mat-panel-title>
            {{ major.certificate }}
          </mat-panel-title>
          <hr />
          <mat-panel-description>
            <h4><mat-icon>monetization_on</mat-icon> ค่าเทอม</h4>
          </mat-panel-description>
          <mat-panel-title>
            {{ major.tuitionFee | currency: "THB":"":"0.0" }} บาท / ภาคเรียน
          </mat-panel-title>
          <hr />
          <mat-panel-description>
            <h4><mat-icon>build</mat-icon> อาชีพเมื่อสำเร็จการศึกษา</h4>
          </mat-panel-description>
          <mat-panel-title>
            <p *ngIf="major.listCareerName === undefined">
              -
            </p>
            <mat-chip-list>
              <mat-chip
                color="primary"
                selected
                *ngFor="let careerName of major.listCareerName"
              >
                {{ careerName }}
              </mat-chip>
            </mat-chip-list>
          </mat-panel-title>
        </mat-tab>
        <mat-tab label="ข้อมูล TCAS สาขา">
          
          <p>dddddddddddddddd</p>
        </mat-tab>
      </mat-tab-group>
      <mat-action-row>
        <button
          mat-raised-button
          class="btn-warning"
          (click)="openEditMajorDialog(major)"
        >
          <mat-icon>edit</mat-icon> แก้ไขข้อมูลสาขา
        </button>
        <button
          mat-raised-button
          class="btn-warning"
          (click)="openEditTcasDialog(major)"
        >
          <mat-icon>edit</mat-icon> จัดการข้อมูล TCAS สาขา
        </button>
        <button mat-raised-button class="btn-danger" (click)="onDelete(major)">
          <mat-icon>delete</mat-icon> ลบข้อมูลสาขา
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div class="card-profile no-margin align-middle" *ngIf="!showData">
  <div class="card-body">
    <mat-icon class="card-title">block</mat-icon>
    <h4 class="card-description">ไม่พบข้อมูลสาขา</h4>
    <p class="card-description">
      ไม่พบข้อมูลสาขาภายในคณะ กรุณาเพิ่มข้อมูลคณะก่อนดำเนินการอีกครั้ง
    </p>
  </div>
</div>
