<div class="row">
    <div class="col-sm-11">
        <h1 mat-dialog-title>ข้อมูลสาขาในสังกัดของคณะ</h1>
    </div>
    <div class="col-sm-1" class="hover-cursor">
        <mat-icon class="hover-cursor" (click)="onNoClick()">close</mat-icon>
    </div>
</div>
<div *ngIf="showTable">
    <table mat-table [dataSource]="majorLtb" class="table">
        <ng-container matColumnDef="major_name">
            <th mat-header-cell *matHeaderCellDef>ชื่อ</th>
            <td mat-cell *matCellDef="let major"> {{major.data().major_name}} </td>
        </ng-container>
        <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> เว็บไซต์ </th>
            <td mat-cell *matCellDef="let major"> {{major.data().url}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div class="card-profile no-margin" *ngIf="!showTable">
    <div class="card-body">
        <h4 class="card-title">ไม่พบข้อมูลสาขา</h4>
        <p class="card-description">
            ไม่พบข้อมูลสาขาภายในคณะ กรุณาเพิ่มข้อมูลคณะก่อนดำเนินการอีกครั้ง
        </p>
    </div>
</div>