<div class="row">
    <div class="col-12">
        <h1 mat-dialog-title>ข้อมูลสาขาในสังกัดของคณะ</h1>
    </div>
</div>
<div *ngIf="showData">
    <mat-accordion>
        <mat-expansion-panel *ngFor="let major of listMajor">
            <mat-expansion-panel-header>
                <mat-panel-title color="primary">
                    <h4>
                        <mat-icon>school</mat-icon> {{major.major_name}}
                    </h4>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <hr />
            <mat-panel-description>
                <h4>
                    <mat-icon>language</mat-icon> ที่อยู่เว็บไซต์
                </h4>
            </mat-panel-description>
            <mat-panel-title><a href="{{major.url}}">{{major.url}}</a></mat-panel-title><br>
            <mat-panel-description>
                <h4>
                    <mat-icon>post_add</mat-icon> เงื่อนไขการเข้าศึกษาต่อ
                </h4>
            </mat-panel-description>
            <mat-panel-title>
                <p>{{major.entrance_detail}}</p>
            </mat-panel-title><br>
            <mat-panel-description>
                <h4>
                    <mat-icon>build</mat-icon> อาชีพเมื่อสำเร็จการศึกษา
                </h4>
            </mat-panel-description>
            <mat-panel-title>
                <p *ngIf="major.career === undefined">
                    -
                </p>
                <mat-chip-list>
                    <mat-chip color="primary" selected *ngFor="let career of major.career">
                        {{career.id}}
                    </mat-chip>
                </mat-chip-list>
            </mat-panel-title>
            <mat-action-row>
                <button mat-raised-button class="btn-warning"
                    (click)="openEditMajorDialog(major.major_name + major.faculty.id)">
                    <mat-icon>edit</mat-icon> แก้ไขข้อมูลสาขา
                </button>
                <button mat-raised-button class="btn-danger" (click)="onDelete(major)">
                    <mat-icon>delete</mat-icon> ลบข้อมูลสาขา
                </button>
            </mat-action-row>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div class="card-profile no-margin" *ngIf="!showData">
    <div class="card-body">
        <h4 class="card-title">ไม่พบข้อมูลสาขา</h4>
        <p class="card-description">
            ไม่พบข้อมูลสาขาภายในคณะ กรุณาเพิ่มข้อมูลคณะก่อนดำเนินการอีกครั้ง
        </p>
    </div>
</div>