<div class="row">
    <div class="col-sm-12">
        <h1 mat-dialog-title>แก้ไขข้อมูลสาขา</h1>
    </div>
</div>
<form [formGroup]="majorForm" *ngIf="loadData">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="ชื่อสาขา" required formControlName="major_name">
            <mat-error *ngIf="majorForm.controls.major_name.hasError('required')">
                กรุณากรอกชื่อสาขา
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="ที่อยู่เว็บไซต์" required formControlName="url">
            <mat-error *ngIf="majorForm.controls.url.hasError('required')">
                กรุณากรอกที่อยู่เว็บไซต์
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="เงื่อนไขการเข้าศึกษาต่อ" required
                formControlName="entrance_detail"></textarea>
            <mat-error *ngIf="majorForm.controls.url.hasError('required')">
                กรุณากรอกเงื่อนไขการเข้าศึกษาต่อ
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-chip-list #chipList aria-label="Career">
                <mat-chip *ngFor="let career_name of listCareer_name" [removable]="removable"
                    (removed)="removeCareer(career_name)">
                    {{career_name}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input placeholder="อาชีพเมื่อสำเร็จการศึกษา" #careerInput formControlName="career"
                    [matAutocomplete]="auto" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                    (matChipInputTokenEnd)="addCareer($event)">
                <mat-error *ngIf="listCareer_name.length === 0 && majorForm.get('career').touched">
                    กรุณากรอกอาชีพเมื่อสำเร็จการศึกษา
                </mat-error>
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let career of filteredCareer | async" [value]="career">
                    {{career}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="btn-secondary" (click)="onNoClick()">ปิด</button>
        <button mat-raised-button class="btn-success" (click)="onSubmit()">แก้ไขข้อมูล</button>
    </div>
</form>